@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.caixa1 {
    border: 1px solid black;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.caixa2 {
    border: 1px solid black;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.caixa3 {
    border: 1px solid black;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: -1;
}