@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 99vw;
    height: 99vh;
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 1fr 150px;
    gap: 3px;
}
header {
    border: 1px solid black;
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
}
nav {
    border: 1px solid black;
    text-align: center;
    grid-area: 2 / 1 / 3 / 3;
}
main {
    border: 1px solid black;
    text-align: center;
    grid-area: 3 / 1 / 4 / 2;
}
div {
    border: 1px solid black;
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}
footer {
    border: 1px solid black;
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
}