@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.caixa1 {
    border: 1px solid black;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.caixa2 {
    border: 1px solid black;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}
.caixa3 {
    border: 1px solid black;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}