@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.caixa1 {
    border: 1px solid black;
    text-align: center;
    grid-area: 1 / 1 / 2 / 5;
}
.caixa2 {
    border: 1px solid black;
    text-align: center;
    grid-area: 2 / 1 / 4 / 3;
}
.caixa3 {
    border: 1px solid black;
    text-align: center;
    grid-area: 2 / 3 / 4 / 5;
}