@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100vh;
}
body {
    background-image: url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: center center;
}
main {
    background-color: rgba(255, 255, 255, 0.548);
    width: 400px;
    
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
h1 {
    text-align: center;
    color: white;
}
img {
    display: block;
    margin: auto;
}
#cel {
    display: block;
}
#tab{
    display: none;
}
#pc{
    display: none;
}
#tv {
    display: none;
}
#imp {
    display: none;
}